body{
    background-color: black;
}

header{
    background-color: black;
}

.navbar-brand,
.nav-link{
    color: #ffc107 !important;
    font-weight: bold;
}

.dropdown-item{
    color: black;
}
p{
    font-size: 18px;
    line-height: 1.8;
}

section{
    max-width: 1100px;
}
body{
    background-color: black;
}

.navbar{
    background-color: black;
}

.navbar-brand,
.nav-link{
    color: #ffc107 !important;
    font-weight: bold;
}

p{
    font-size: 18px;
    line-height: 1.8;
}

img{
    transition: 0.3s;
}

img:hover{
    transform: scale(1.03);
}

@media(max-width:768px){

    h1{
        text-align: center;
    }

    p{
        font-size: 16px;
    }

}